<div class="container">
  <h2>Add a Product</h2>
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" id="productName" name="productName" [(ngModel)]="customersFormData.productName" placeholder="Product Name" required>
    </div>

    <div class="form-group">
      <label for="unitPrice">Price</label>
      <input type="number" id="unitPrice" name="unitPrice" [(ngModel)]="customersFormData.unitPrice" placeholder="Price">
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" name="quantity" [(ngModel)]="customersFormData.quantity" placeholder="Quantity" required>
    </div>

    <div class="form-group">
      <label for="isDiscontinued">Is Discontinued</label>
      <input type="checkbox" id="isDiscontinued" name="isDiscontinued" [(ngModel)]="customersFormData.isDiscontinued">
    </div>

    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
