
.page-container {
  border: 10px solid #0c0808;
  padding: 20px;
  position: relative; 
}

.datagrid-container {
  margin-top: 40px; 
}

.custom-datagrid {
  font-size: 14px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.custom-datagrid .dx-datagrid-rowsview .dx-row .dx-data-cell {
  text-align: center;
}

.custom-datagrid .dx-datagrid-headers .dx-header-row .dx-datagrid-text-content {
  text-align: center;
}
