
<header>
    <nav class="sidebar" class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <!-- navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3"
     -->
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">DemoNew</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                 routerLink="customers">customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                 routerLink="add-customers">Add </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                 routerLink="products">product</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  