<div class="pies-container">
  <dx-pie-chart
    class="pie"
    [title]="'Total Unit Prices'"
    [palette]="['#5E4FA2', '#66C2A5', '#FC8D62', '#8DA0CB', '#E78AC3']"
    [dataSource]="piesData"
    sizeGroup="piesGroup"
  >
    <dxi-series argumentField="productName" valueField="unitPrice">
      <dxo-label [visible]="true" format="percent"></dxo-label>
    </dxi-series>
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
      [rowCount]="2"
    >
    </dxo-legend>
  </dx-pie-chart>
</div>
