/* styles.css */

/* Style the toolbar */
.mat-toolbar {
    background-color: #1976D2; /* Background color */
    color: white; /* Text color */
  }
  
  /* Center the title within the toolbar */
  .app-title {
    margin: 0 auto;
    text-align: center;
  }
  
  /* Style the sidebar background and text color */
  .mat-sidenav {
    background-color: #858282; /* Background color */
    color: white; /* Text color */
  }
  
  /* Style the sidebar links */
  .mat-list-item {
    padding: 10px 20px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Change link background color on hover */
  .mat-list-item:hover {
    background-color: #8e8c8c;
    cursor: pointer; /* Show a hand cursor on hover */
  }
  