<!-- app.component.html -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>home</mat-icon>
    </button>&nbsp;&nbsp;
    <h1 class="app-title">DevAng</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav (click)="sidenav.toggle()">
    <mat-nav-list>
      <a mat-list-item routerLink="nav-menu"> Dashboard</a>
      <a mat-list-item routerLink="customers"> Customers</a>
      <!-- <a mat-list-item routerLink="registration"> Registration</a> -->
      <a mat-list-item routerLink="products"> Product</a>
      <!-- <a mat-list-item routerLink="add-products"> Add product</a> -->
      <a mat-list-item routerLink="product-list"> Shop Now</a>
      <a mat-list-item routerLink="order-list"> Your Orders</a>
      <a mat-list-item> Other</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



