
<div class="container my-5">
    <h1 class="mb-3 text-center">Order</h1> <!-- Center the "Order" name -->
    <hr/>

    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-secondary bg-gradient">
            <tr>
                <!-- <th>Book_id</th> -->
                <!-- <th>Product id</th> -->
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Images</th>
                <th>Quantity</th>
                <th>Is Discontinued</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Product of products">
                <!-- <td>{{ Product.id }}</td> -->
                <td>{{ Product.productName }}</td>
                <td>{{ Product.unitPrice }}</td>
                <td><img [src]="createImgPath(Product.url)" alt="profile picture" style="width:100px; height:100px;"></td>
                <td>{{ Product.quantity }}</td>
                <td>
                    <label class="checkbox-container">
                        <input type="checkbox" [checked]="Product.isDiscontinued" disabled>
                        <span class="checkbox-indicator"></span>
                    </label>
                </td>
                
                <td>
                    <a [routerLink]="['/order', Product.id]" class="btn btn-3d btn-primary">
                        <i class="fas fa-cart-plus"></i> Add Order
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>



