
.page-container {
  border: 10px solid #0c0808;
  padding: 20px;
  position: relative;
}

.add-customers-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #007bff; 
}

.datagrid-container {
  margin-top: 40px; 
}

.custom-datagrid {
  font-size: 14px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.product-image {
  max-width: 100px; 
  max-height: 100px; 
}
