<div class="page-container">
  <!-- Add customer icon on the upper right side -->
  <a routerLink="/add-products" class="add-customers-icon"><i class="fas fa-user-plus"></i></a>

  <div class="datagrid-container">
    <dx-data-grid
      [dataSource]="gridData | async"
      keyExpr="id"
      [allowColumnResizing]="true"
      [showBorders]="true"
      [remoteOperations]="true"
      [repaintChangesOnly]="true"
      [columnMinWidth]="50"
      [columnAutoWidth]="true"
      [editing]="{ mode: 'popup', allowUpdating: true, allowDeleting: true, allowAdding: false , useIcons: true}"
      (onRowRemoving)="deleteProduct($event)"
      (onRowUpdating)="updateProduct($event)"
      class="custom-datagrid" >
      
      <dxo-paging [pageSize]="10">
        <ng-template *dxTemplate="let data of 'pager'">
          <div class="dx-page-size">
            <span class="dx-page-size-text">Page Size:</span>
            <dx-select-box [dataSource]="[10, 20, 50]" [(value)]="data.pageSize"></dx-select-box>
          </div>
          <div class="dx-info">
            <!-- <span class="dx-info-text">Page <strong>{{ data.pageIndex + 1 }}</strong> of <strong>{{ data.pageCount }}</strong></span>
            <button class="dx-button dx-button-normal dx-button-text" (click)="prevPage(data.pageIndex)">Previous</button>
            <button class="dx-button dx-button-normal dx-button-text" (click)="nextPage(data.pageIndex, data.pageCount)">Next</button> -->
          </div>
        </ng-template>
      </dxo-paging>

      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>

      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
      ></dxo-search-panel>
      
      <dxo-header-filter [visible]="true"></dxo-header-filter>

  
    <!-- <dxi-column dataField="id" dataType="number" [visible]="false">
    </dxi-column> -->
    <dxi-column dataField="productName" dataType="string">
    </dxi-column>
    <dxi-column dataField="unitPrice" dataType="number" ></dxi-column>
    <dxi-column dataField="url" caption="Image" [width]="100">
      <div *dxTemplate="let data of 'cellTemplate'">
        <ng-container *ngIf="data.data.url">
          <img [src]="data.data.url" alt="Product Image" class="product-image">
        </ng-container>
      </div>
    </dxi-column>
     <dxi-column dataField="quantity" dataType="number">
    </dxi-column>
    <dxi-column dataField="isDiscontinued" dataType="boolean" >    
    </dxi-column>   
    <!-- Add more columns as needed -->
  </dx-data-grid>
 